@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GreenPoower - Bike Rental Service</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to GreenPoower</h2>
        <p>
            GreenPoower is a application that
            helps you find greener way to travel around your city
        </p>
    </div>
</div>